<a href="https://colab.research.google.com/github/soliana-k/ALX-Collab-Notebooks/blob/main/Lists_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Lists

In this exercise, we'll be exploring how we can create, manipulate, and slice lists.

## Learning objectives

In this train, we will:
- Create lists.
- Manipulate and slice lists.
- Work with nested lists.

## Exercises

### Exercise 1

1. Suppose we want to label the trees we plant in our plantation, using integer numbers. Let's create a list containing integers from 1 to 5, named `first_trees`.

In [1]:
# insert code here
first_trees=list(range(1, 6))
first_trees

[1, 2, 3, 4, 5]

*If this list was created by specifying each element individually, see whether you can find another way to create the variable.*

<br>

2. Our plantation has expanded a lot in the last few weeks. We need to create a list of trees planted within 15 cm of an irrigation device. Create a list called `tree_list`,  starting at 20, ranging to 140, in increments of 4 (i.e. `20, 24,...,140`).

In [2]:
# insert code here
tree_list=list(range(20, 144, 4 ))
tree_list

[20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140]

<br>

3. When we created our irrigation tree list, we forgot about a tree that is watered by an older irrigation system.  Append the number `400` to the end of the tree_list.

In [3]:
# insert code here
tree_list.append(400)
tree_list

[20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 400]

<br>

4. We decide to install irrigation for three older trees that were planted long ago. Create a new variable called `combined_trees` by **combining** our existing `tree_list` with another list, `old_trees = [500, 600, 700]`. Your list should now contain 35 elements.

In [4]:
# insert code here
old_trees=[500, 600, 700]
combined_trees= tree_list + old_trees
len(combined_trees)

35

<br>

5. We are interested in creating a **list of lists** or **nested list**. We have two lists of seed-producing plants, `conifers` and `cycads`. Given these lists in the code block below, create a variable called `gymnosperms`, the family group to which these trees belong.

In [5]:
conifers = ["Pine", "Fir", "Juniper"]
cycads = ["Cycas", "Sago palm", "Zamia"]

# insert code here

gymnosperms=[conifers, cycads]
gymnosperms

[['Pine', 'Fir', 'Juniper'], ['Cycas', 'Sago palm', 'Zamia']]

<br>

6. We are specifically interested in planting cycas and sago palms. Use indexing on the `gymnosperms` list to create a new list that consists of `Cycas` and `Sago palm`.

In [6]:
# insert code here
new_list=gymnosperms[1][:2]
new_list

['Cycas', 'Sago palm']

<br>

7. We need to combine the plants within the `conifers` and `cycads` lists, then sort them in alphabetical order. Create a list, `ordered_plants`, to store them in.

Hint: The list variable should contain all the plants as individual elements before sorting it.

In [7]:
# insert code here
ordered_plants= conifers + cycads
ordered_plants.sort()
ordered_plants

['Cycas', 'Fir', 'Juniper', 'Pine', 'Sago palm', 'Zamia']

## Solutions

### Exercise 1

1. Suppose we want to label the trees we plant in our plantation using integer numbers. Let's create a list containing integers from 1 to 5, named `first_trees`.

In [8]:
# insert code here
# option 1: specifying individual elements
first_trees = [1, 2, 3, 4, 5]
print('Option 1: ',first_trees)

# option 2: using the range function
first_trees = list(range(1,6))
print('Option 2 using range: ',first_trees)

Option 1:  [1, 2, 3, 4, 5]
Option 2 using range:  [1, 2, 3, 4, 5]

There are **two ways to create our list** â€“ explicitly listing the elements using square brackets, or using the `range` function, which allows us to specify a starting and an end point for the elements we'd like to include.

<br>

2. Our plantation has expanded a lot in the last few weeks. We need to create a list of trees planted within 15 cm of an irrigation device. Create a list called `tree_list`,  starting at 20, ranging to 140, in increments of 4 (i.e. `20, 24,...,140`).

In [9]:
# insert code here
tree_list = list(range(20, 144, 4))
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140]

In the above question, we've illustrated the ease with which we can use the `range()` function to create lists, especially when we require **many elements in specific intervals**.

<br>

3. When we created our irrigation tree list, we forgot about a tree that is watered by an older irrigation system.  Append the number `400` to the end of the tree_list.

In [10]:
# insert code here
tree_list.append(400)
print(tree_list)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 400]

By using the `append` method, we can add an element to our tree list.

<br>

4. We decide to install irrigation for three older trees that were planted long ago. Create a new variable called `combined_trees` by **combining** our existing `tree_list` with another list, `old_trees = [500, 600, 700]`. Your list should now contain 35 elements.

In [11]:
# insert code here
old_trees = [500, 600, 700]
combined_trees = tree_list+old_trees
print(combined_trees)
len(combined_trees)

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 400, 500, 600, 700]

35

We've added the elements from the `old_trees` to our existing `tree_list` by using the `+` operator. If we wanted to add the list as a **single element**, `append` would've been the appropriate command.

<br>

5. We are interested in creating a **list of lists** or **nested list**. We have two lists of seed-producing plants, `conifers` and `cycads`. Given these lists in the code block below, create a variable called `gymnosperms`, the family group to which these trees belong.

In [12]:
conifers = ["Pine","Fir","Juniper"]
cycads = ["Cycas","Sago palm","Zamia"]

# insert code here
gymnosperms = [conifers,cycads]
print(gymnosperms)

[['Pine', 'Fir', 'Juniper'], ['Cycas', 'Sago palm', 'Zamia']]

Note that we can easily create a list of lists by using our list constructor `[]` and our given lists, `conifers` and `cycads`.

<br>

6. We are specifically interested in planting cycas and sago palms. Use indexing on the `gymnosperms` list to create a new list that consists of `Cycas` and `Sago palm`.

In [13]:
# insert code here
new_list = gymnosperms[1][0:2]
new_list

['Cycas', 'Sago palm']

The `gymnosperm` variable is a **list of lists** or a **nested list**. Fortunately, we can still access elements in nested lists by **using indexing**, drilling down to the individual elements we need. The **slice** of the inner list (`cycads`) is **returned as a list** itself, so there is no need to convert that to a list.

<br>

7. We need to combine the plants within the `conifers` and `cycads` lists, then sort them in alphabetical order. Create a list, `ordered_plants`, to store them in.

Hint: The list variable should contain all the plants as individual elements before sorting it.

In [14]:
# insert code here
plants = cycads + conifers
print(plants)

# option 1: use sorted()
ordered_plants = sorted(plants, reverse=False)
print(ordered_plants)

['Cycas', 'Sago palm', 'Zamia', 'Pine', 'Fir', 'Juniper']
['Cycas', 'Fir', 'Juniper', 'Pine', 'Sago palm', 'Zamia']

In [15]:
# insert code here
# option 2: use sort() - this alters the original variable and returns None,
# so it cannot be used directly in print statement
print(plants)
plants_copy = plants.copy()
plants_copy.sort()
print(plants_copy)

['Cycas', 'Sago palm', 'Zamia', 'Pine', 'Fir', 'Juniper']
['Cycas', 'Fir', 'Juniper', 'Pine', 'Sago palm', 'Zamia']

Both `sort()` and `sorted()` allow us to order our lists, but an important difference between them is that `sort()` returns a `None` value (modifying the original variable), whereas `sorted()` returns a list.
Be sure to go and look at the documentation for these functions.

## Summary

In this exercise, we looked at how to create, manipulate, and slice lists. Nested lists are just another version of a normal list, and the same operations for indexing apply when we're trying to extract elements.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>